<!DOCTYPE html>
<html lang="en">
    <!-- Copy your index.html header here! (your metadata wshould be the same) -->
    <head>
        <title>Website Name</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="style.css" rel="stylesheet">
    </head>

<body id="home">
    <main class="full-entry">
        <header class="entry-header">
            <div class="entry-meta">
                <time datetime="2026-01-03">Saturday, January 3, 2026 at 19:08</time>
            </div>
        </header>

        <div class="entry-content">
            <p>This is where your post lives...</p>
        </div>

        <div class="entry-color" 
            style="background-color: #fff051; 
                height: 100%; width: 100%; 
                aspect-ratio: 1/1;">
        </div>
    </main>

    <footer>
        <!-- web ring here -->
    </footer>
</body>
</html>