<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Website Name</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="style.css" rel="stylesheet">
    </head>

<body id="home">
    <main class="full">
        <p>Describe your collection here...</p>

        <div class="collection-grid">
            <article class="item">
                <a href="*">
                    <div style="background-color: #3300ff" class="item-color"></div>
                </a>
                <div class="item-content">
                    <a href="*">A website can be...</a>
                    <time class="item-date">Wednesday, January 28, 2026 at 21:14</time>
                </div>
            </article>
            
            <article class="item">
                <a href="*">
                    <div style="background-color: #ffea00" class="item-color"></div>
                </a>                        
                <div class="item-content">
                    <a href="*">A collection of things...</a>
                    <time class="item-date">Saturday, January 3, 2026 at 19:08</time>
                </div>
            </article>

            <article class="item">
                <a href="*">
                    <div class="item-image">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRLz1s5n5dc8Cg6xyH582-9sJ0exBPOHn9UHg&s" alt="Writing desk">
                    </div>
                </a>
                <div class="item-content">
                    <a href="*">An archive, of memories</a>
                    <time class="item-date">Friday, December 5, 2025 at 21:18</time>
                </div>
            </article>
        </div>
    </main>

    <footer>
        <!-- web ring here -->
    </footer>
</body>
</html>