<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The web site of reparativecomputing</title>
    <link href="/style.css" rel="stylesheet" type="text/css" media="all">
  </head>
  <body style="background-color: white"> <!-- this is a bit of CSS, try typing in anther color -->
    <h1>My Website</h1> <!-- this is a heading -->
    
    <!-- these are links to images elsewhere on the internet -->
    <img src="https://momg.neocities.org/gifs/i-49973.gif" alt="Boing"> <!-- put new gifs by exploring https://momg.neocities.org/ , right-clicking one you like,  selecting "copy image address", and pasting it in after src= -->
    <img src="https://momg.neocities.org/gifs/i-52313.gif" alt="Dart">
    <img src="https://momg.neocities.org/gifs/i-87558.gif" alt="Cat's out of the bag get it">
    
    <!-- you can put anything on your personal website! music, books, favorite webpages, dreams -->
    
    <p>Things I like: </p> <!-- this is a paragraph -->
    <ul> <!-- this is an unordered list. change both its tags to "ol" and see what happens -->
      <li>Bananas</li>
      <li>New sheets with stripes</li>
      <li>Tom & Jerry</li>
    </ul>
    
    <p>Things I'm working on:</p>
    <ul>
      <li>Atari 2600 game about <em>grandchildren in soap bottles</em> <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ7Gj2PZuEq1ccGz7XLfebd5suFiZa_aAI9iw&amps" alt="Kid" width=100px></li> <!-- use <em> tags for emphasis -->
      <li>Sampling Reddit data for personal experiences with AI in <a href="https://aihumanities.wustl.edu/projects/">lab</a> </li> <!-- this is a link to somewhere else -->
      <li>A gyroscope-<strong>based</strong> synth <a href="https://docs.google.com/presentation/d/1gZci33_NC4xBXyoLB-mVEzsJiJQ32uDobqOJRCYe8m0/edit?usp=sharing">app</a> </li> 
      <li> <a href="https://starrothkopf.github.io/css_play/">Bad</a> web dev</li>
    </ul>

    <!-- this how you could start doing form art, but to make these do things, we'd need Javascript -->
    
    <form>
      <input type="email">
      <input type="password">
      <input type="number">
      <input type="date">
      <input type="time">
      <input type="datetime-local">
      <input type="file">
      <input type="range">
      <input type="color">
      <input type="checkbox">
      <input type="radio">
    </form>
    
    <a href="https://archive.rhizome.org/anthology/form-art/www.c3.hu/collection/form/index1.html"> Form Art </a>
    
    <h3> My friends </h3> 
    <a href="https://orchard-web-convention.netlify.app"> O.R.C.H.A.R.D. </a>
    
    <h3> Other Websites to Explore </h3> <!-- this is a smaller heading -->
    <a href="https://www.yourworldoftext.com/orchard"> Go type something here </a>
    <br> <!-- this is a small page break -->
    <a href="https://wiby.me/"> Search around here </a>
    <br>
    <a href="https://playgameoflife.com/"> Click boxes and "Start" here </a>
    <br>
    <a href="https://diagram.website/"> Scroll here </a>
    <br>
    <a href="https://hnr.fyi/diy_websites/workshop/"> Further reading </a>

  </body>
</html>
